
<%= form_for (@dog) do |f| %>

    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-12">
      <div class="edit-save actions">
        <%= f.submit class: 'btn btn-md btn-teal' %>
      </div>
    </div>
<% end %>