<div class="container page-container">
  <h2>Calendar of Dogs</h2>
  <%= month_calendar events: @daycare_days do |date, daycare_days| %>
      <%= date %><br />
      <% daycare_days.each do |d| %>
          <div>
            <% d.dogs.each do |dog| %>
                <%= dog.name %><br />
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>