	<div class="jumbotron jumbotron-image">
		<div class="container">
			<div class="page-header">
			  <h1>Camp Hilltop<small> a haven from home</small></h1>
			  <p>When only the best is good enough!</p>
			</div>
		  <p><%= link_to "Learn more", page_path(Page.find_by(title: "About Us").id), class: "btn btn-primary btn-lg" %></p>
		</div>
	</div>
<div class="container welcome-container">
	<div class="page-header col-md-8">
  		<h1>Welcome to Hilltop Kennels!<br/><small>A premier kennel dedicated to providing the absolute best for your pet.</small></h1>
  		<p> Hilltop Kennels is one of the finest boarding and daycare facilities in Cedar Rapids, Iowa. <br/><br />
      We are located at 1403 Wilson Ave. SW, just ten minutes from the Eastern Iowa Airport. The kennel sits on six beautiful acres with a lakeside view.
      We provide a private indoor/outdoor run for each dog and separate area for boarding cats. <br/><br />

      <span style="font-style: italic;">Our mission is to provide a safe, clean, and enjoyable environment for all animals entrusted to our care.</span><br /><br />
      MAKE YOUR RESERVATIONS TODAY - your pet will thank you for it!  Call 319-363-1054 to inquire or reserve. <br/><br />

      HEAR WHAT HILLTOP KENNELS CUSTOMERS ARE SAYING: <br /><br />
  		</p>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4" style="margin-top:40px;">
	    <div class="thumbnail">
	      <%= image_tag("camp_hilltop.png") %>
	      <div class="caption">
	        <h3>RESERVE NOW</h3>
	        <p>We offer spacious, climate-controlled playrooms that are 100% fully supervised. We fill up quickly.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Reserve</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>

