
	<div class="jumbotron">
		<div class="container">
			<div class="page-header">
			  <h1>Camp Hilltop<small> a haven from home</small></h1>
			  <p>When only the best is good enough!</p>
			</div>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
<div class="container">
	<div class="page-header col-md-8">
  		<h1>Welcome to Hilltop Kennels!<br/><small>A premier kennel dedicated to providing the absolute best for your dog or cat.</small></h1>
  		<p> Hilltop Kennels is one of the finest BOARDING and DAYCARE facilities in Cedar Rapids, Iowa. <br/>

We are located at 1403 Wilson Ave. SW, just ten minutes from the Eastern Iowa Airport. The kennel sits on six beautiful acres with a lakeside view. We provide a private indoor/outdoor run for each dog and separate area for BOARDING CATS. <br/>

Our mission is to provide a safe, clean, and enjoyable environment for all animals entrusted to our care. MAKE YOUR RESERVATIONS TODAY - your pet will thank you for it! <br/>

Call 319-363-1054 to inquire or reserve. <br/>

» HEAR WHAT HILLTOP KENNELS CUSTOMERS ARE SAYING 
  		</p>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag("camp_hilltop.png") %>
	      <div class="caption">
	        <h3>RESERVE NOW</h3>
	        <p>We offer spacious, climate-controlled playrooms that are 100% fully supervised. We fill up quickly.</p>
	        <p><a href="#" class="btn btn-primary" role="button">Reserve</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>

