<div class="container form-container">
  <div class="col-md-11">
    <div class="content">
      <h3 class="main-header-txt">Edit Page</h3>
      <%= render "form" %>
    </div>
  </div>
</div>
</div>
