/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/colors.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/quick_insert.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

body {
  font-family: 'Itim', cursive;
}

h1 {
  color: #FC4A1A;
}

h3 {
  color: #FC4A1A;
}

p {
  font-size: 18px;
}

.alert {
  margin-bottom: 0px;
  margin-top: 50px;
}

.facebook-icon {
  color: #3b5998;
  margin-left: 60px;
}

.navbar-brand {
 color: white !important;
}

.call-to-action-btn {
  background-color: #F7B733;
  color: white;
}

.logo-container {
  border: 1px solid black;
  background-color: white;
  padding-bottom: 100px;
}

.navbar-default {
  background-color: #4ABDAC;
}

.btn-teal {
  color: white;
  background-color: #4ABDAC;
}

.btn-yellow {
  color: white;
  background-color: #F7B733;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.active {
  color: black;
}

.jumbotron-image {
	margin-bottom: 0px;
    background: linear-gradient(rgba(226, 226, 200, 100), rgba(226, 226, 450, 0.5)), image-url("pond.png");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-container {
  margin-bottom: 100px;
}

.sidebar-div {
  margin-top: 40px;
}

@media only screen and (max-width: 425px) {
  .sidebar-div {
    margin-bottom: 200px;
  }
}