// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-container {
  margin-top: 50px;
}

.header-h1 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
}

.fr-view {
  display: inline-block;
}

.admin-nav-dropdown {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.header-minus-border {
  border-bottom: 0px solid #eeeeee !important;
}

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.admin-table {
  margin-bottom: 80px;
}

.simple-calendar {
  margin-bottom: 150px;
}

.contact-us-container {
  margin-bottom: 40px;
  background-color: lightgrey;
  padding-bottom: 20px;
  margin-top: 20px;
}

/* Devise */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 75px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
