<div class="container page-container">
    <div class="jumbotron">
      <h1>Hello, Admin!</h1>
      <p>You can create what shows up in your navigation here (navigation items: for example, Home, About Us, Hours & Location).</p>
      <p><%= link_to "Create New Navigation Item", new_navigation_item_path, class:"btn btn-primary" %></p>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Your Existing Navigation Items</div>
      <div class="panel-body">
        <p>Here, below, you can view and edit all the navigation items that are already created.</p>
      </div>

      <!-- Table -->
      <table class="table">
        <tr>
          <th>
            Navigation Item Title
          </th>
          <th>
            Edit Navigation Item
          </th>
        </tr>
        <% @navigation_items.each do |n| %>
          <tr>
            <td>
              <%= n.title %>
            </td>
            <td>
              <%= link_to "Edit", edit_navigation_item_path(n), class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>