<div class="container college-container">
    <div class="col-md-11">
      <div class="content">
        <h3 class="main-header-txt">New Navigation Item</h3>
          <%= render "form" %>
      </div>
    </div>
  </div>
</div>
